<div class='products-container'>
	<div class="products">
		<h1>Available Products</h1>
		<ul class="items">
		  <li class="item" ng-repeat="product in products">
		  	<div class="btn-add" ng-click="add(product.code)"><div class="plus"></div></div>
		    <div class='info-container'>
		      <h2 class="item_name">{{product.code}} - {{product.name}}</h2>
		      <h2 class="item_price">{{product.price | currency:"$"}}</h2>
		      <div class="info">{{product.promoDescription}}</div>
		    </div>
		  </li>
		</ul>
		<div class='reset' ng-click="clear()">R e s e t &nbsp;&nbsp;C a r t</div>
	</div>
</div>